.header {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px white;
  border-style: none none solid none;
  width: 100%;
  height: var(--header-height);
  display: flex;
  position: fixed;
  justify-content: center;
}

form {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  height: 100%;
}

button {
  color: #106C65;
  font-style: normal;
  font-weight: normal;
  display: flex;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.back {
  color: var(--primaryText);
  left: 1.5rem;
}

.clear {
  color: var(--primary-80);
  right: 1.5rem;
}

input {
  width: calc(100% - 6rem);
  height: 36px;
  border-radius: 0.8rem;
  font-size: 1.125rem;
  background: var(--grey-10);
  border: 1px solid var(--primary-80);
  padding: 0 2rem;
}

.bottom-content-container {
  margin: 1rem auto;
  justify-content: center;
}

.searchResultHeader {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0.5rem 1rem 1rem;
}

.searchResultHeader div {
  display: flex;
  cursor: default;
}

.searchResultHeader fa-icon {
  font-style: normal;
  font-weight: 300;
  font-size: var(--text-xl);
  line-height: 26px;
  align-content: center;
  margin: 0 0.5rem;
}

.resultCount {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: var(--text-lg);
  font-weight: var(--font-light);
  line-height: 42px;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 1rem;
}

.searchResult {
  display: grid;
  grid-template-columns: auto;

}

.outer-card {
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.outer-card-selected {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--primary-05);
}

.resultCountEmpty {
  flex-direction: column;
  justify-content: left;
}

.resultCountEmpty a {
  font-size: 1.5rem;
}

.infoTextContainer {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}

.infoTextContainer span {
  margin-top: 1rem;
  text-align: center;
  text-anchor: middle;
}

@screen md {

  .card-container {
    width: calc(100% - 2rem);
  }

  .searchResult {
    grid-template-columns: 46% 46%;
    justify-content: space-between;
  }

}

@screen lg {

  .card-container {
    width: calc(100% - 2rem);
    margin-right: 2rem;
  }

  .searchResult {
    grid-template-columns: 42% 42%;
    justify-content: space-between;
  }


  .searchResultHeader {
    margin: 5rem 1rem 2rem;
  }

  .header {
    box-shadow: unset;
    padding-top: 1rem;
  }
}






