header {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  border-style: none none solid none;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 42;
}

.header-content {
  display: block;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem ;
  padding: 0.75rem 1rem;
}

.search-results {
  padding: 0.5rem 1rem;
  background: var(--primary-60);
}

.done-button {
  font-weight: var(--font-medium);
  font-style: normal;
  color: var(--primary-80);
}

.main-content {
  margin: 1rem 1rem 1rem;
  display: block;
}

.splitter {
  margin: auto 0;
  border: none;
  height: 1px;
  width: 100%;
  background: var(--grey-20);
}

.filter-menu {
  margin-top: 1rem;
}

.filter-category {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
}

.filter-category-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.filterContainer {
  position: relative;
  background: var(--grey-10);
  color: var(--primary-80);
  background: var(--grey-05);
  padding: 1rem;
  margin: 0.5rem 0;
  font-weight: var(--font-normal);
  border-radius: 8px;
  cursor: pointer;
  display: block;
}

.filterContainerActive {
  background: var(--primary-10);
}

.filterIcon {
  width: var(--text-base);
  margin-right: 0.5rem;
  display: inline-block;
}

.filterIcon-verwendungskontext {
  width: calc(var(--text-base) * 1.35);
  margin-right: 0.25rem;
  display: inline-block;
}

.filter-checkedIcon {
  position: absolute;
  right: 1rem;
}

.result-text {
  color: var(--white);
  font-weight: var(--font-light);
  opacity: 0.9;
}

.reset-button {
  color: var(--white);
  float: right;
}



