:host {
  position: sticky;
  top: 0;
  z-index: 999999;
}

.s2m--header {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px white;
  border-style: none none solid none;
  width: 100%;
}

.header-logo {
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../assets/images/favicon.png) no-repeat;
  background-size: contain;
}

.top-header{
  display: flex;
  height: 60px;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
}

.top-header fa-icon {
  color: #106C65;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  grid-template-columns: 95% 5%;
  align-items: center;
}

.bottom-header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 1rem;

}

.bottom-header a{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid white;
  width: 15px;
  height: 15px;

}

.bottom-header fa-icon{
  cursor: pointer;
  opacity: 0.8;
}

@media (min-width: 391px) {
  .top-header {
    gap: 0.5rem;
  }
}

@media (min-width: 400px) {
  .top-header {
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .header-logo {
    width: 165px;
    height: 50px;
    background: url(../../assets/images/sign2mint_logo.png) no-repeat;
    background-size: contain;
  }
}

@media (min-width: 1024px){

  .top-header fa-icon{
    display: none;
  }

  .s2m--header{
    display: flex;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .top-header{
    width: 100%;
    gap: 3rem;
  }

  .bottom-header{
    padding: 0;
    width: 35%;
  }
}
