<header class="s2m--header">
  <div class="top-header">
    <a routerLink="/">
      <img class="full-logo hidden md:block" src="./../../assets/images/sign2mint_logo.png"/>
      <img class="fav-icon block md:hidden" src="./../../assets/images/favicon.png"/>
    </a>
    <div class="menu">
      <app-search-menu></app-search-menu>
      <fa-icon [icon]="arrow" (click)="toggleFilter()"></fa-icon>
    </div>
  </div>
  <div class="bottom-header" *ngIf="showFilter">
    <a href
       onclick="return false;">
      <fa-icon [icon]="iconAll"
               class="alle-gebaerden standard"
               (keydown.enter)="handleOpenAllEntriesByFilter('')"
               (click)="handleOpenAllEntriesByFilter('')"
               title ="Alle Gebärden"></fa-icon>
    </a>
    <a href
       onclick="return false;"
       *ngFor="let fachgebiet of fachgebiete">
      <fa-icon [icon]="fachgebiet.icon"
               class="{{fachgebiet.title}} standard"
               (keydown.enter)="handleOpenAllEntriesByFilter(fachgebiet.title)"
               (click)="handleOpenAllEntriesByFilter(fachgebiet.title)"
               title ="{{fachgebiet.title}}">
              </fa-icon>
    </a>
  </div>
</header>
