/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~swiper/swiper-bundle.min.css';

@font-face {
  font-family: "SuttonSignWritingLine";
  src:
    local('SuttonSignWritingLine'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingLine.ttf') format('truetype');
}
@font-face {
  font-family: "SuttonSignWritingFill";
  src:
    local('SuttonSignWritingFill'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingFill.ttf') format('truetype');
}
@font-face {
  font-family: "SuttonSignWritingOneD";
  src:
    local('SuttonSignWritingOneD'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingOneD.ttf') format('truetype');
}

@font-face {
  font-family: "delegsSignWritingOneD-WIP4";
  src:
    local('delegsSignWritingOneD-WIP4'),
    url('src/assets/fonts/delegsSignWritingOneD-WIP4.ttf') format('truetype');
}

:root {

  --swiper-navigation-size: 20px;
  --swiper-navigation-color: #106C65;
  --swiper-pagination-color: #106C65;



  /* Fachbereiche */
  --physik-color: #c45e00;
  --chemie-color: #bc9f00;
  --biologie-color: #009300;
  --geowissenschaft-color: #0085bd;
  --medizin-color: #880088;
  --mathematik-color: #c90022;
  --informatik-color: #772121;
  --astronomie-color: #5537ED;

  --white: #FFFFFF;
  --grey-05: #f9fafb;
  --grey-10: #f3f4f6;
  --grey-20: #e5e7eb;
  --grey-30: #d1d5db;
  --grey-40: #9ca3af;
  --grey-70: #374151;
  --grey-90: #111827;

  --primaryText: var(--grey-90);
  --primary-10: #F5FAF8;
  --primary-20: #E7F5F0;
  --primary-30: #AEE8DA;
  --primary-60: #2F9C91;
  --primary-80: #138077;

  /* Text sizes */
  --text-tiny: 0.75rem;
  --text-xs: 0.875rem;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;

  /* Font weights */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 25%;
  width: 50%;
}

.swiper-button-prev {
  top: 95%;
}

.swiper-button-next {
  top: 95%;
}

/* COLORS */

.color-grey-05 {
  color: var(--grey-05);
}

.bg-grey-05 {
  background: var(--grey-05);
}

.color-grey-10 {
  color: var(--grey-10);
}

.color-grey-20 {
  color: var(--grey-20);
}

.color-grey-70 {
  color: var(--grey-70);
}

.color-grey-90 {
  color: var(--grey-90);
}

.color-primary-80 {
  color: var(--primary-80);
}

/* FONTS */

/* Font weights */

.font-light {
  font-weight: var(--font-light);
}

.font-normal {
  font-weight: var(--font-normal);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-bold {
  font-weight: var(--font-bold);
}

/* Font sizes */

.text-tiny {
  font-style: normal;
  font-size: var(--text-tiny);
  line-height: normal;
  word-break: break-word;
}

.text-xs {
  font-style: normal;
  font-size: var(--text-xs);
  line-height: normal;
  word-break: break-word;
}

.text-sm {
  font-style: normal;
  font-size: var(--text-sm);
  line-height: normal;
  word-break: break-word;
}

.text-base {
  font-style: normal;
  font-size: var(--text-base);
  line-height: normal;
  word-break: break-word;
}

.text-lg {
  font-style: normal;
  font-size: var(--text-lg);
  line-height: normal;
  word-break: break-word;
}

.text-xl {
  font-style: normal;
  font-size: var(--text-xl);
  line-height: normal;
  word-break: break-word;
}

.text-2xl {
  font-style: normal;
  font-size: var(--text-2xl);
  line-height: normal;
  word-break: break-word;
}

.text-3xl {
  font-style: normal;
  font-size: var(--text-3xl);
  line-height: normal;
  word-break: break-word;
}

body {
  font-family: 'Roboto', sans-serif, 'SuttonSignWritingOneD';
  font-style: normal;
  font-weight: var(--font-normal);
  font-size: var(--text-base);
  line-height: 150%;
  color: var(--primaryText);
  margin: 0;
  width: auto;
}

p {
  font-style: normal;
  font-weight: var(--font-normal);
  font-size: var(--text-base);
  line-height: 175%;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  line-height: normal;
  text-decoration: none;
  color: var(--primary-80);
  cursor: pointer;
}

button {
  cursor: pointer;
}

.caption {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: var(--text-xs);
  line-height: normal;
  color: var(--primaryText);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.overline {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: var(--text-xs);
  font-weight: var(--font-normal);
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--primaryText);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.small-overline {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: var(--text-tiny);
  font-weight: var(--font-normal);
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: var(--primaryText);
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.standard {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-base);
  line-height: 150%;
  color: var(--primaryText);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--text-base);
  line-height: normal;
  color: white;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--text-base);
  line-height: normal;
  color: var(--primaryText);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--text-lg);
  line-height: normal;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--primaryText);
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--text-xl);
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primaryText);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--text-2xl);
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primaryText);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--text-3xl);
  line-height: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--primaryText);
}

.sc-input, input {
  font-family: 'Roboto', sans-serif;
}

.s2m--headline {
  color: var(--primary-80);
}

.s2m--subheadline {
  color: var(--primary-80);
}

/* ALLGEMEIN */

table {
  border-collapse: collapse;
  border-spacing: 0.2rem;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  max-width: 100%;
}
th, caption {
  background-color: #2F9C91;
  font-weight: 700;
  color: var(--primary-10);
  padding: .5em 1em;
}

td {
  border: thin solid black;
  color: var(--primaryText);
  padding: .2em 1em;
  text-align: left;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  word-break: break-word;
}

h2 {
  word-break: break-word;
}

.o-container--xlarge {
  max-width: 78em;
  margin: auto;
}

.o-container {
  margin: auto;
}

.o-container--medium {
  max-width: 48rem;
  margin: auto;
}

.alle-gebaerden {
  color: var(--primary-80);
}

/*Fachgebiet-Styles*/
.Physik {
  color: var(--physik-color);
}

.Chemie {
  color: var(--chemie-color);
}

.Biologie {
  color: var(--biologie-color);
}

.Geowissenschaft {
  color: var(--geowissenschaft-color);
}

.Medizin {
  color: var(--medizin-color);
}

.Mathematik {
  color: var(--mathematik-color);
}

.Informatik {
  color: var(--informatik-color);
}

.Astronomie {
  color: var(--astronomie-color);
}

.swiper-container {
  padding-bottom: 1.5rem;
  width: 100%;
}

.swiper-slide {
  color: #000;
  text-align: center;
  margin-bottom: 0;
  height: auto;
}

.mobileShow {
  display: inline;
}

.desktopShow {
  display: none;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus {
  outline: var(--primary-60) auto 1px;
}

/* FONTS - DESKTOP */
@media (min-width: 1024px) {

  :root {
    --text-tiny: 0.8125rem;
    --text-xs: 0.9375rem;
    --text-sm: 1.0625rem;
    --text-base: 1.125rem;
    --text-lg: 1.375rem;
    --text-xl: 1.625rem;
    --text-2xl: 2rem;
    --text-3xl: 2.25rem;
  }

  body {
    line-height: 27px;
    min-height: 100vh;
  }

  .caption {
    line-height: 22px;
  }

  .standard {
    line-height: 27px;
  }

  .button {
    line-height: 27px;
  }

  h4 {
    font-weight: 600;
    line-height: 33px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    line-height: 44px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    line-height: 55px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    line-height: 71px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content-container {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
  }

  .bottom-content-container {
    max-width: 1024px;
    margin: 0 auto 3rem;
    display: block;
  }

  .mobileShow {
    display: none;
  }

  .desktopShow {
    display: inline;
  }
}
