<div class="bottom-content-container">
  <div id="overview-top" class="sticky-container backdrop-filter backdrop-blur">
    <div class="filterHeader">
      <div>
        <fa-icon *ngIf="currentFachgebiet === 'Alle Gebärden'" [icon]="getIconForFachgebiet(currentFachgebiet)"
                 class="alle-gebaerden"></fa-icon>
        <fa-icon *ngIf="currentFachgebiet !== 'Alle Gebärden'" [icon]="getIconForFachgebiet(currentFachgebiet)"
                 class="{{currentFachgebiet}}"></fa-icon>
        <h2>{{currentFachgebiet}}</h2>
      </div>
      <div class="entryCount">
        {{currentEntryCount}}
      </div>
    </div>
    <div class="hidden md:block">
      <ng-container *ngTemplateOutlet="navContainer"></ng-container>
    </div>
  </div>

  <div class="mainContainer flex flex-row">

    <div (scroll)="onScrollMobile()" class="card-container flex-grow" tabindex="0"
         (focus)="cardContainerOnFocus()"
         (keydown)="cardContainerOnKeyDown($event)">
      <div *ngFor="let char of alphabet" class="card-category">
        <h4 id="{{char.character}}">{{char.character}}</h4>
        <div class="entry-wrapper">
          <a (click)="navigateToFachbegriff(entry.fachbegriff)" onclick="return false;" href
             (keydown.enter)="navigateToFachbegriff(entry.fachbegriff)"
             *ngFor="let entry of char.entries" tabindex="-1">
              <div class="outer-card text-lg font-normal">
                <app-search-result-entry [lexikonEintrag]=entry></app-search-result-entry>
              </div>
          </a>
        </div>
      </div>
    </div>

    <div class="block md:hidden">
      <ng-container *ngTemplateOutlet="navContainer"></ng-container>
    </div>
  </div>
</div>

<ng-template #navContainer>
  <div class="navigationContainer__content" id="navigationContainer" tabindex="0"
       (focus)="navigationContainerOnFocus()"
       (keydown.arrowRight)="navigationContainerOnArrowKeyDown(true)"
       (keydown.arrowLeft)="navigationContainerOnArrowKeyDown(false)">
    <div *ngFor="let char of alphabet" [ngClass]="{'highlighted-letter': activeLetter.includes(char.character)}"
         (click)="navigateToChar(char.character)"
         (keydown.enter)="navigateToChar(char.character)"
         class="letterWrapper" tabindex="-1">
      <a class="caption" onclick="return false;" href>{{char.character}}</a>
    </div>
  </div>
</ng-template>
