<footer>
  <div class="footer-logo">
    <a routerLink="/">
      <img src="../../assets/images/sign2mint_logo.png" alt="">
    </a>
  </div>

  <div class="footer-links">
    <p class="small-overline footer-links__link-header">Weitere Infos</p>
    <div class="footer-links__links">
      <a [routerLink]="['page/about']">Über Sign2MINT</a>
      <a [routerLink]="['page/information']">Informationen</a>
      <a [routerLink]="['page/gebaerdensuchinformation']">Gebärdensuche</a>
      <a routerLink="/contact">Kontakt</a>
      <a [routerLink]="['page/privacy']">Datenschutz</a>
      <a [routerLink]="['page/imprint']">Impressum</a>
    </div>
  </div>

  <div class="footer-supporter">
    <p class="small-overline">Förderung durch</p>
    <div class="logo-wrapper">
      <a href="https://www.mpi-halle.mpg.de/startseite" rel="noreferrer noopener" target="_blank">
        <img src="../../assets/images/MPI_Logo_Mikrostrukturphysik_D_rgb_green.png" alt="MPI Logo"></a>
      <a href="https://wps.de" rel="noreferrer noopener" target="_blank">
        <img src="../../assets/images/wps.png" alt="WPS Logo"></a>
      <a href="https://www.maxplanckfoundation.org/" rel="noreferrer noopener" target="_blank">
        <img src="../../assets/images/MPF_Logo.png" alt="MPF Logo"></a>
      <a href="https://www.bmas.de/" rel="noreferrer noopener" target="_blank">
        <img src="../../assets/images/BMAS_Logo.png" alt="BMAS Logo"></a>
    </div>
  </div>
  <div class="footer-copyright">
    © 2021, MPG/Sign2MINT
  </div>

</footer>
