.o-container {
  padding: 0 1rem;
}

.imageLogoWrapper {
  width: 100%;
}

.imageLogoWrapper img {
  width: 100%;
  display: block;
}

.mainVideo {
  width: 100%;
  margin-top: 2rem;
}

.imageInformationWrapper {
  width: 100%;
}

.imageInformationWrapper img {
  width: 100%;
  display: block;
}

.imageEmpfehlungsWrapper {
  width: 100%;
}

.imageEmpfehlungsWrapper img {
  width: 25%;
  max-width: 98px;
  display: block;
  float: left;
  padding: 0 1rem;
}

body {
  @apply text-grey-70;
}

ul.liste {
  padding-inline-start: 1rem;
}

.liste li {
  margin-bottom: 0.5rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.tableOfContents li {
  margin-bottom: 0;
}

p, li {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p, li {
  font-size: 1.125rem;
  text-align: left;
  font-weight: var(--font-normal);
  line-height: 175%;
  @apply text-grey-70;
}

td {
  font-weight: var(--font-light);
}

a {
  font-size: 1.125rem;
  font-weight: 400;
}

table {
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 1rem;
}

/* FONTS - DESKTOP */
@screen lg {
  .o-container {
    padding: 0rem 2rem;
  }

  p, li, td {
    font-size: 1.25rem;
  }

  a {
    font-size: 1.25rem;
    line-height: 27px;
  }

  table {
    font-size: 1.25rem;
    margin-right: 3rem;
  }

  ul.liste {
    padding-inline-start: 2rem;
  }
}
